<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Riding share service</title>
    </head>
    <body>
        <h2>Welcome to service,{{driver.user.username}}</h2>

        <button type="button">
            <a href="{% url 'edituserinfo' driver.user.id %}">Edit your User Information</a>
        </button>

        <button type="button">
            <a href="{% url 'joinride' driver.user.id %}">Join an Existing Ride !</a>
        </button>

        <ul>
            <li>First Name:{{driver.user.first_name}} </li>
            <li>Last Name: {{driver.user.last_name}} </li>
            <li>email: {{driver.user.email}}</li>
            <li>User ID: {{driver.user.id}}</li>

        </ul>
        
        <h3>Driver Information: You are a driver</h3>

        <button type="button">
            <a href="{% url 'editdriverinfo' driver.user.id %}">Edit your Driver Information</a>
        </button>

	<button type="button">
            <a href="{% url 'driversearch' driver.user.id %}">Take An Order as Driver !</a>
	</button>
		
        <ul>
            <li>vehicle type: {{driver.vehicle_type}}</li>
            <li>license_plate_number: {{driver.license_plate_number}}</li>
            <li>max_number_passengers: {{driver.max_number_passengers}}</li>
            <li>special_request: {{driver.special_request}}</li>
        </ul>>
       
        <button type="button">
            <a href="{% url 'logout' %}">Click here to logout!</a>
        </button>

	<button type="button">
            <a href="{% url 'request' driver.user.id %}">Click here to Request Open Ride!</a>
        </button>

	
	<button type="button">
            <a href="{% url 'view_owned_ride' driver.user.id %}">View My Owned Ride</a>
        </button>

	
	<button type="button">
            <a href="{% url 'view_shared_ride' driver.user.id %}">View My Joined Ride</a>
        </button>

	
	<button type="button">
            <a href="{% url 'view_drive_ride' driver.user.id %}">View My Drive Ride</a>
        </button>
	
    </body>
</html>
