<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Riding share service</title>
    </head>
    <body>
        <h2>Welcome to service,{{myuser.user.username}}</h2>
	
        <button type="button">
            <a href="{% url 'edituserinfo' myuser.user.id%}">Edit your User Information</a>
        </button>
        	
        <button type="button">
            <a href="{% url 'joinride' myuser.user.id%}">Join an Existing Ride !</a>
        </button>

	<ul>
            <li>First Name:{{myuser.user.first_name}} </li>
            <li>Last Name: {{myuser.user.last_name}} </li>
            <li>email: {{myuser.user.email}} </li>
            <li>User ID: {{myuser.user.id}}</li>

       
        <h3>Driver Information: You are not a driver</h3>

        <button type="button">
            <a href="{% url  'registerdriver' myuser.user.id %}">Register as driver</a>
        </button>

        <button type="button">
            <a href="{% url 'logout' %}">Click here to logout!</a>
        </button>

	<button type="button">
            <a href="{% url 'request' myuser.user.id%}">Click here to Request Open Ride!</a>
        </button>


	<button type="button">
            <a href="{% url 'view_owned_ride' myuser.user.id%}">View My Owned Ride</a>
        </button>

	
	<button type="button">
            <a href="{% url 'view_shared_ride' myuser.user.id%}">View My Joined Ride</a>
        </button>

    </body>
</html>
