
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      table, th, td {border: 1px solid black;}
    </style>
       <meta charset="UTF-8">
       <title>View All Your Joined Ride</title>
   </head>
  <body>
    <h1>These Are {{status}} Rides That You Joined</h1>
     {% for ride in all_ride %}
     <table style="width:100%">
       <tr>
	 <th>Owner Name</th>
	 <th>Email</th>
	 <th>Destination</th>
	 <th>Arrival Time</th>
	 <th>Owner Party Passengers</th>
	 <th>Total Passengers</th>
	 <th>Shared or Not</th>
	 <th>Special Requests</th>
	 <th>Ride Status</th>
	 <th>Driver</th>
	 {% if ride.status != 'Open' %}
	 <th>Vehcile Type</th>
	 <th>License Plate</th>
	 {% endif %}
       </tr>
       <tr>
	 <td>{{ride.owner.first_name}}{{ride.owner.last_name}}</td>
	 <td>{{ride.owner.email}}</td>
	 <td>{{ride.destination}}</td>
	 <td>{{ride.arrival_time}}</td> 
	 <td>{{ride.total_passengers}}</td>
	 <td>{{ride.total_people}}</td>
	 <td>{{ride.shared_or_not}}</td>
	 <td>{{ride.special_request}}</td>
	 <td>{{ride.status}}</td>	 
	 <td>{{ride.driver.user.username}}</td>
	 {% if ride.status != 'Open' %}
	 <td>{{ride.driver.vehicle_type}}</td>
	 <td>{{ride.driver.license_plate_number}}</td>
	 {% endif %}
       </tr>
     </table> 
     {% if ride.status == 'Open' %}
     <button><a href="{% url 'quitthisride' ride.id %}">Quit<a></button>
     {% endif %}
	 {% endfor %}
     
       <button type="button">
           <a href="{% url 'index' user.id %}">Return to Index</a>
       </button>

       <form method = "post" action="">
	 {% csrf_token %}
	 <select name = "confirmed_or_completed">
	   <option value="All">All</option>
	   <option value="Confirmed">Confirmed</option>
	   <option value="Completed">Completed</option>
	 </select>
	 <input type = "submit" value="Update View">
	 </form>
 
   </body>
</html>
