<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Riding share service</title>
    </head>
    <body>
        <h2>Welcome to service,{{user.username}}</h2>
        <ul>
            <li>First Name:{{user.first_name}} </li>
            <li>Last Name: {{user.last_name}} </li>
            <li>Pass W:{{user.password}} </li>
            <li>User ID: {{user.id}}</li>

        <button type="button">
            <a href="{% url 'logout' %}">Click here to logout!</a>
        </button>
        
        

    </body>
</html>
