<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Riding share service</title>
    </head>
    <body>
        <h2>Welcome to service,{{myuser.user.username}}</h2>
        <ul>
            <li>First Name:{{myuser.user.first_name}} </li>
            <li>Last Name: {{myuser.user.last_name}} </li>
            <li>email: {{myuser.user.email}} </li>
            <li>User ID: {{myuser.user.id}}</li>

       
        <h3>Driver Information: You are not a driver</h3>

        <button type="button">
            <a href="{% url 'registerdriver' %}">Register as driver</a>
        </button>
        

        <button type="button">
            <a href="{% url 'logout' %}">Click here to logout!</a>
        </button>

	<button type="button">
            <a href="{% url 'request' %}">Click here to Request Open Ride!</a>
        </button>


	<button type="button">
            <a href="{% url 'view_owned_ride' %}">View My Owned Ride</a>
        </button>

	
	<button type="button">
            <a href="{% url 'view_shared_ride' %}">View My Shared Ride</a>
        </button>

	
	<button type="button">
            <a href="{% url 'view_drive_ride' %}">View My Drive Ride</a>
        </button>

    </body>
</html>
