<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Riding share service</title>
    </head>
    <body>
        <h2>Welcome to service,{{user.username}}</h2>
        <ul>
            <li>First Name:{{user.first_name}} </li>
            <li>Last Name: {{user.last_name}} </li>
            <li>Pass W:{{user.password}} </li>
            <li>User ID: {{user.id}}</li>

        </ul>
        
        <h3>Driver Information: You are not a driver</h3>
        <ul>
            <li>vehicle type: {{user.vehicle_type}}</li>
            <li>license_plate_number: {{user.license_plate_number}}</li>
            <li>max_number_passengers: {{user.max_number_passengers}}</li>
            <li>special_request: {{user.special_request}}</li>
        </ul>>
       
     

        <button type="button">
            <a href="{% url 'logout' %}">Click here to logout!</a>
        </button>

    </body>
</html>
