
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      table, th, td {border: 1px solid black;}
    </style>
       <meta charset="UTF-8">
       <title>View All Your Owned Ride</title>
   </head>
   <body>
     {% for ride in all_ride %}
     <table style="width:100%">
       <tr>
	 <th>First Name</th>
	 <th>Last Name</th>
	 <th>Email</th>
	 <th>Arrival Time</th>
	 <th>Total Passengers</th>
	 <th>Shared or Not</th>
	 <th>Special Requests</th>
	 <th>Ride Status</th>
       </tr>
       <tr>
	 <td>{{ride.owner.first_name}}</td>
	 <td>{{ride.owner.last_name}}</td>
	 <td>{{ride.owner.email}}</td>
	 <td>{{ride.arrival_time}}</td>
	 <td>{{ride.total_passengers}}</td>
	 <td>{{ride.shared_or_not}}</td>
	 <td>{{ride.special_request}}</td>
	 <td>{{ride.status}}</td>
       </tr>
      </table>
     {% endfor %}
     
       <button type="button">
           <a href="{% url 'index' %}">Return to Index</a>
       </button>
 
   </body>
</html>
