
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      table, th, td {border: 1px solid black;}
    </style>
       <meta charset="UTF-8">
       <title>View All Your Available Ride</title>
   </head>
  <body>
    <h1>These Are All Available That Fit Your Need</h1>
    {% for ride in all_ride %}
    {% if ride.arrival_time <= latest and ride.arrival_time >= earliest and ride.owner != user %}
     <table style="width:100%">
       <tr>
	 <th>Owner Name</th>
	 <th>Email</th>
	 <th>Destination</th>
	 <th>Arrival Time</th>
	 <th>Owner Party Passengers</th>
	 <th>Total Passengers</th>
	 <th>Shared or Not</th>
	 <th>Special Requests</th>
	 <th>Ride Status</th>
	 <th>Driver</th>
	 <th>Vehcile Type</th>
	 <th>License Plate</th>
       </tr>
       <tr>
	 <td>{{ride.owner.first_name}}{{ride.owner.last_name}}</td>
	 <td>{{ride.owner.email}}</td>
	 <td>{{ride.destination}}</td>
	 <td>{{ride.arrival_time}}</td> 
	 <td>{{ride.total_passengers}}</td>
	 <td>{{ride.total_people}}</td>
	 <td>{{ride.shared_or_not}}</td>
	 <td>{{ride.special_request}}</td>
	 <td>{{ride.status}}</td>
	 <td>{{ride.driver.user.username}}</td>
	 <td>{{ride.driver.vehicle_type}}</td>
	 <td>{{ride.driver.license_plate_number}}</td>
       </tr>
     </table>
     
     <button><a href="{% url 'jointhisride' ride.id %}">Join<a></button>
     {% endif %}
     {% endfor %}
     

     <button type="button">
           <a href="{% url 'joinride' user.id %}">Edit my Filter</a>
     </button>

     <button type="button">
           <a href="{% url 'index' user.id %}">Return to Index</a>
     </button>

 
   </body>
</html>
