<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register!</h1>>
    <form  action="" method="post"></form>
        {% csrf_token %}
        <label >username</label>
        {{form.username}}
        <label >email</label>
        {{form.email}}
        <label >password</label>
        {{form.password1}}
        <label >confirm password</label>
        {{form.password2}}
    <button type="submit">register</button>
    </form>
    <p><a href="{% url 'login' %}">Return to login</a></p>

    
</body>
</html>